name: Test Actions

on:
  push:
    tags-ignore:
      # Ignore release tags, as the install-slsactl will probably
      # be executed before the release takes place, causing it to
      # fail as it will try to download the binaries of the current
      # release, which may or may not be available.      
      - 'v*'

  pull_request:
  workflow_dispatch:

permissions: {}

jobs:
  test-install-action:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-latest
            version: "" # default
          - platform: ubuntu-latest
            version: "latest"
          - platform: ubuntu-latest
            version: "v0.1.10" # pinned version
          - platform: ubuntu-latest
            version: "8bffa90e563b17c5d302ac8e922b1c5007d3fea5" # commit-based install
          - platform: windows-latest
            version: "8bffa90e563b17c5d302ac8e922b1c5007d3fea5"
          - platform: windows-latest
            version: "v0.1.10"
    
    runs-on: ${{ matrix.platform }}

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - uses: ./actions/install-slsactl
      with:
        version: ${{ matrix.version }}

    - run: slsactl version
      shell: bash
    - name: Check for dirty worktree
      if: runner.os == 'Linux'
      run: |
        if [[ -n $(git status --porcelain) ]]; then
          echo "ERROR: The install-slsactl action left the worktree dirty"
          exit 1
        fi

  test-verify-action:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, windows-latest]
    
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - uses: ./actions/verify
      with:
        image: ghcr.io/kubewarden/policy-server:v1.19.0
